<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css">
</head>
<body>
    <h1>TESTE</h1>

    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28-csp/vue.js"></script>

    <!-- template for the Modal component -->
    <script type="x/template" id="modal-template">
        <div class="modal" @click="close" v-show="show" transition="modal">
            <div class="modal-dialog" @click.stop >
                <div class="modal-content">
                    <div class="modal-body">
                        <slot></slot>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <!-- template for the NewPostModal component -->
    <script type="x/template" id="new-post-modal-template">
        <modal :show.sync="show" :on-close="close" >
            <div class="modal-header">
                <h3>New Post</h3>
            </div>

            <div class="modal-body">
                <label class="form-label">
                    Title
                    <input v-model="title" class="form-control">
                </label>
                <label class="form-label">
                    Body
                    <textarea v-model="body" rows="5" class="form-control"></textarea>
                </label>
            </div>

            <div class="modal-footer text-right">
                <button class="modal-default-button" @click="savePost" >Save
                </button>
            </div>
        </modal>
    </script>


    <!-- template for the NewCommentModal component -->
    <script type="x/template" id="new-comment-modal-template">
        <modal :show.sync="show" :on-close="close" >
            <div class="modal-header">
                <h3>New Comment</h3>
            </div>

            <div class="modal-body">
                <label class="form-label">
                    Comment
                    <textarea v-model="comment" rows="5" class="form-control"></textarea>
                </label>
            </div>

            <div class="modal-footer text-right">
                <button class="modal-default-button" @click="postComment()" >
                    Post
                </button>
            </div>
        </modal>
    </script>


    <!-- app -->
    <div id="app">
        <new-post-modal :show.sync="showNewPostModal"></new-post-modal >
        <new-comment-modal :show.sync="showNewCommentModal"></new-comment-modal >
        <button @click="showNewPostModal = true">New Post</button >
        <button @click="showNewCommentModal = true">New Comment</button >
    </div>


    <script>
        Vue.component('Modal', {
        template: '#modal-template',
        props: ['show', 'onClose'],
        methods: {
            close: function () {
                this.onClose();
            }
        },
        ready: function () {
            document.addEventListener("keydown", (e) => {
            console.log('ready')
            if (this.show && e.keyCode == 27) {
                this.onClose();
            }
            });
        }
        });

        Vue.component('NewPostModal', {
        template: '#new-post-modal-template',
        props: ['show'],
        data: function () {
            return {
                title: '',
            body: ''
            };
        },
        methods: {
            close: function () {
            this.show = false;
            this.title = '';
            this.body = '';
            },
            savePost: function () {
            // Insert AJAX call here...
            this.close();
            }
        }
        });

        Vue.component('NewCommentModal', {
        template: '#new-comment-modal-template',
        props: ['show'],
        data: function () {
            return {
            comment: ''
            };
        },
        methods: {
            close: function () {
            this.show = false;
            this.comment = '';
            },
            postComment: function () {
            // Insert AJAX call here...
            this.close();
            }
        }
        });

        new Vue({
        el: '#app',
        data: {
            showNewPostModal: false,
            showNewCommentModal: false
        }
        });
    </script>
</body>
</html>

